/*//CSS that applies to browsers that support grid*/
@supports (display: grid) {

    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 2rem;
    }
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vw;
    margin-top: 2vw;
}

header p {
    font-weight: 350;
}

header button {
    background: none;
    border-style: solid;
    border-radius: .3rem;
    cursor: pointer;
    border-color: #1EA7CB;
    height: 100%;
}

header button p {
    font-family: 'lato';
    font-size: 18px;
    color: #1EA7CB;
    margin: 1vw;
}


body {
    background-color: #F5F5F5;
    margin-left: 10vw;
    margin-right: 10vw;
}

.post {
    border-style: solid;
    border-width: .1.5rem;
    border-color: #D9D9D9;
    border-radius: .2rem;
    background-color: white;
}

.info h2 {
 text-align: center;
    margin: 2vw;
}


div.details {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
}

.details span {
    display: block;
    text-align: center;
    font-weight: 350;
    padding-top: .3rem;
}



.image {
    border-radius: .2rem .2rem 0 0;
    width: calc(100% + 0.4rem);
    transform: translateX(-.2rem) translateY(-.2rem);
}



.view-bttn {
    background-color: #1EA7CB;
    border-radius: 0 0 .2rem .2rem;
    border-style: hidden;
    color: white;
    cursor: pointer;
    width: calc(100% + 0.4rem);
    transform: translate(-.2rem, .2rem);
}

.view-bttn p {
    color: white;
    font-family: 'lato';
    font-size: 20px;
    font-weight: 200;
}


p {
    font-family: 'lato';
    color: #595959;
    font-weight: 200;

}

h1 {
    color: #252525;
    font-family: 'lato';
    font-weight: 200;
    font-size: 40px;
    margin: 0;
}

h2 {
    color: #595959;
    font-family: 'lato';
    font-weight: 200;
}
